* {
	font-family: 'Conv_Avenir Next Bold';
}

@font-face {
	font-family: 'Conv_Avenir Next Bold';
	src: url('/assets/fonts/Avenir Next Bold.eot');
	src: local('☺'), url('/assets/fonts/Avenir Next Bold.woff') format('woff'), url('fonts/Avenir Next Bold.ttf') format('truetype'), url('fonts/Avenir Next Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextDemiBold';
	src: url('/assets/fonts/AvenirNextDemiBold.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextDemiBold.woff') format('woff'), url('fonts/AvenirNextDemiBold.ttf') format('truetype'), url('fonts/AvenirNextDemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextMedium';
	src: url('/assets/fonts/AvenirNextMedium.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextMedium.woff') format('woff'), url('fonts/AvenirNextMedium.ttf') format('truetype'), url('fonts/AvenirNextMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextRegular';
	src: url('/assets/fonts/AvenirNextRegular.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextRegular.woff') format('woff'), url('fonts/AvenirNextRegular.ttf') format('truetype'), url('fonts/AvenirNextRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	min-width: 320px;
	color: #000;
}

.no-padding{
	padding: 0!important;
}

ol, ul {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}


a:hover {
	color: #000;
	text-decoration: none;
}

.zindex {
	position: relative;
	z-index: 2;
}

/************************************/

.scroll_1 {
	padding-top: 40vh;
	height: 100vh;
	position: relative;
	min-height: 650px;
}

.scroll_1::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	background: rgba(0,0,0,.5);
}

.scrl1_content {
	text-align: center;
}

.scrl1_content h3 {
	color: #fffefe;
	font-size: 35px;
	padding-bottom: 30px;
}

.scrl1_content h4 {
	color: #dedede;
	font-size: 16px;
	padding-bottom: 45px;
}

.scrl1_content a {
	display: block;
	margin: auto;
	width: 180px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	color: #fff;
	border-radius: 27px;
	background: #d0422c;
	font-size: 12px;
}

.scroll_2 {
	padding: 80px 0;
}

.scrl_2_img_block {
	width: 100%;
	height: 405px;
	border-radius: 10px;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
	overflow: hidden;
}

.scrl2_text_content {
	padding-top: 60px;
}

.scrl2_text_content h2 {
	padding-bottom: 40px;
}

.scrl2_text_content p {
	font-family: 'Conv_AvenirNextDemiBold';
	color: #666;
	font-size: 14px;
	line-height: 29px;
	padding-bottom: 35px;
}

.scrl2_text_content p  span {
	color: #00519e;
}

.scrl2_text_content a {
	color: #d73627;
	font-size: 14px;
}

.scroll_3 {
	padding-top: 110px;
	padding-bottom: 85px;
	position: relative;
}

.scroll_3::before {
	content: '';
	position: absolute;
	background: rgba(0,0,0,.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.scrl3_content {
	padding: 60px 50px 90px 60px;
	border-radius: 10px;
	background: rgba(255,255,255,.85);
}

.scrl3_content h3 {
	font-size: 30px;
	color: #000;
	padding-bottom: 45px;
}

.scrl3_content p {
	font-family: 'Conv_AvenirNextDemiBold';
	font-size: 14px;
	line-height: 32px;
	color: #666;
}

.scrl3_content p span {
	color: #1369be;
}

.scroll_4 {
	padding-top: 80px;
	padding-bottom: 60px;
}

.scrl4_up_text {
	text-align: center;
	padding-bottom: 90px;
}

.scrl4_column_parent {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.scrl4_column {
	text-align: center;
	position: relative;
	padding-top: 145px;
	width: 330px;
	height: 445px;
	border-radius: 10px;
	padding-left: 35px;
	padding-right: 35px;
	box-shadow: 0px 7px 15px 0px rgba(54, 63, 71, 0.15); 
	margin-right: 70px;
}

.scrl4_column:last-child {
	margin-right: 0;
}

.scrl4_column img {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 20px;
	margin: auto;
}

.scrl4_column hr {
	left: 0;
	right: 0;
	position: absolute;
	display: block;
	width: 240px;
	height: 2px;
	margin: 0;
	top: 110px;
	background: #d7d7d7;
	border: none;
	margin: auto;
}

.scrl4_column h2 {
	font-family: 'Conv_AvenirNextDemiBold';
	font-size: 14px;
	color: #0254a1;
	padding-bottom: 25px;
}

.scrl4_column p {
	font-family: 'Conv_AvenirNextDemiBold';
	color: #666;
	font-size: 14px;
	line-height: 30px;
}

.scroll_5 {
	padding-top: 80px;
	background: #e6f0f8;
	padding-bottom: 30px;
}

.scrl5_up_text {
	margin-bottom: 50px;
}

.scrl5_up_text h4 {
	text-align: center;
	color: #000;
	font-size: 30px;
}

.slick_depsre_certmatcon .slick-track {
	    perspective: 202.7px;
}

.slide.slick-slide:not(.slick-center) {
	transition: 1s;
	transform: scale(0.6699999);	
}

.slide.slick-slide.slick-center + .slide{
	width: 100px;
}