/*mobile menu*/

.mobile_menu {
	position: fixed;
	height: 70px;
	width: 100%;
	background: #fff;
	z-index: 5;
	display: none;
}

.mobile_menu .logo {
	width: 49%;
	float: left;
	padding-left: 15px;
	line-height: 70px;
}

.number {
	width: 49%;
	float: right;
	position: relative;
}

.number a {
	position: absolute;
	right: 65px;
	line-height: 70px;
	color: #555;
}

.burg_menu {
	position: absolute;
	right: 15px;
	top: 25px;
	width: 30px;
	height: 50px;
}

.burg_menu span {
	width: 100%;
	height: 2px;
	margin-bottom: 5px;
	display: block;
	background: #000;
}

/*menu*/

.menu {
	top: 20px;
	left: 0;
	right: 0;
	margin: auto;
	position: fixed;
	background: rgba(255,255,255,.9);
	width: 1170px;
	height: 105px;
	z-index: 10; 
}

.menu hr {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 35px;
	right: 35px;
	display: block;
	padding: 0;
	margin: 0;
	height: 2px;
	background: #e1e1e1;
	margin: auto;
}

.line_1, .line_2 {
	position: absolute;
	height: 54px;
}

.line_1 {
	padding: 0 35px;
	padding-top: 15px;
	width: 100%;
	top: 0;
	left: 0;
}

.line_2 {
	padding-top: 20px;
	width: 100%;
	bottom: 0;
	left: 0;
}

.number_and_language {
	padding-top: 5px;
	padding-left: 105px;
}

.number_and_language a img {
	margin-right: 9px;
}

.number_and_language a {
	display: block;
}

.language_block {
	position: absolute;
	right: 15px;
	top: 4px;
}

.language_block a {
	display: inline-block;
	font-size: 12px;
	color: #888;
}


.line_2_menu ul li {
	display: inline-block;
	margin-right: 30px;
}

.line_2_menu ul li:last-child {
	margin-right: 0;
}

.line_2_menu ul li a {
	text-transform: uppercase;
	color: #888;
	font-size: 12px;
}

/*footer*/

footer {
	background: #1f374f;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
}

.sotial_link {
	padding-left: 5px;
}

.sotial_link a {
	display: inline-block;
	margin-right: 17px;
}

footer hr {
	position: absolute;
	top: 75px;
	left: 0;
	right: 0;
	margin: auto;
	width: 1170px;
	height: 2px;
	background: #7f7f7f;
	border: 0px solid #fff;
}

.padding_footer1 {
	padding-bottom: 60px;
}

.first_column a {
	display: block;
	color: #fff;
	padding-bottom: 10px;
}

.first_column a:last-child{
	padding-bottom: 0;
}

.column_zagolovok a {
	display: block;
}

.zagolovok_footer {
	text-transform: uppercase;
	color: #f0f0f0;
	font-size: 12px;
	padding-bottom: 20px;
}

.zagolovok_footer:hover {
	color: #fff;
}

.sub_zagolovok a {
	font-size: 12px;
	color: #b4b4b4;
	padding-bottom: 5px;
}

.sub_zagolovok a img {
	margin-right: 5px;
}

.last_column {
	padding-top: 40px;
}

.last_column a {
	display: block;
	font-size: 12px;
	color: #bdbdbd;
	padding-bottom: 5px;
}

.sub_zagolovok ul li {
	width: 120px;
}

.sub_zagolovok ul li:first-child {
	list-style: url(/assets/img/tel_footer.png);
}

.sub_zagolovok ul li:last-child {
	list-style: url(/assets/img/navigation.png);
}

.padding_footer2 {
	padding-bottom: 30px;
}


.copirite h4 {
	font-family: 'Conv_AvenirNextRegular';
	font-size: 12px;
	color: #f0f0f0;
}

.marsala a {
	font-family: 'Conv_AvenirNextRegular';
	color: #f0f0f0;
	font-size: 12px;
}
.marsala a img {
	margin-left: 20px;
}

.first_column a:hover {
	color: #fff;
}

.sub_zagolovok a:hover {
	color: #b4b4b4;
}

.last_column a:hover {
	color: #bdbdbd;
}

.marsala a:hover {
	color: #f0f0f0;
}

/*media*/

@media only screen and (max-width : 1199px){

	.menu {
		width: 960px;
	}

	.line_2_menu ul li {
		margin-right: 20px;
	}

	.line_2_menu ul li a {
		font-size: 10px;
	}

	footer hr {
		width: 100%;
	}

	.number_and_language {
		padding-left: 45px;
	}

	.number_and_language a {
		font-size: 13px;
	}

	.number_and_language a:last-child {
		top: 6px;
	}
}  

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){
	.menu {
		display: none;
	}

	.mobile_menu {
		display: block;
	}

	.sotial_link {
		text-align: right;
	}

	.sotial_link a:last-child {
		margin-right: 0;
	}

	.margin_footer {
		margin-bottom: 40px;
		padding-left: 90px;
	}

	.marsala a {
		display: block;
		text-align: right;
	}
}




/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
	.margin_footer {
		padding-left: 0;
		text-align: center;
	}

	.sub_zagolovok ul li {
		margin: auto;
	}

	.copirite h4 {
		text-align: center;
		margin-bottom: 15px;
	}

	.marsala a {
		text-align: center;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){

	.number a {
		font-size: 12px;
	}

	.mobile_menu .logo {
		width: 30%;
	}

	.mobile_menu .logo img {
		width: 80px;
	}

	.number {
		width: 65%;
	}

}