* {
	font-family: 'Conv_Avenir Next Bold';
}

@font-face {
	font-family: 'Conv_Avenir Next Bold';
	src: url('/assets/fonts/Avenir Next Bold.eot');
	src: local('☺'), url('/assets/fonts/Avenir Next Bold.woff') format('woff'), url('fonts/Avenir Next Bold.ttf') format('truetype'), url('fonts/Avenir Next Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextDemiBold';
	src: url('/assets/fonts/AvenirNextDemiBold.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextDemiBold.woff') format('woff'), url('fonts/AvenirNextDemiBold.ttf') format('truetype'), url('fonts/AvenirNextDemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextMedium';
	src: url('/assets/fonts/AvenirNextMedium.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextMedium.woff') format('woff'), url('fonts/AvenirNextMedium.ttf') format('truetype'), url('fonts/AvenirNextMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextRegular';
	src: url('/assets/fonts/AvenirNextRegular.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextRegular.woff') format('woff'), url('fonts/AvenirNextRegular.ttf') format('truetype'), url('fonts/AvenirNextRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('/assets/fonts/Georgia.woff2') format('woff2'),
	url('/assets/fonts/Georgia.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	min-width: 320px;
	color: #000;
}

.no-padding{
	padding: 0!important;
}

ol, ul {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}


a:hover {
	color: #000;
	text-decoration: none;
}

.zindex {
	position: relative;
	z-index: 2;
}

/************************************/

body {
	background: #fafafa;
}

.scroll_1 {
	padding-top: 190px;
	padding-bottom: 45px;
}

.scrl1_text {
	text-align: center;
	margin-bottom: 55px;
}

.scrl1_text h2 {
	color: #333;
	font-size: 30px;
	padding-bottom: 35px;
}

.scrl1_text h3 {
	font-family: 'Conv_AvenirNextDemiBold';
	font-size: 14px;
	color: #666;
}

.scrl_logo_slider .slide {
	outline: none;
}

.logo_block {
	width: 170px;
	height: 150px;
	background: #fefefe;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-bottom: 30px;
	padding-top: 25px;
	transition: .2s;
}

.logo_block:hover {
	box-shadow: 0px 7px 15px 0px rgba(54, 63, 71, 0.15); 
	transition: .2s;
}

.text_block {
	height: 75px;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text_block h3 {
	font-family: 'Conv_AvenirNextMedium';
	font-size: 12px;
	color: #246db8;
}

.scrl_logo_slider .arrow {
	position: absolute;
	top: 0;
	bottom: 30px;
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	border: 1px solid #b9b9b9;
	text-align: center;
	line-height: 25px;
	margin: auto;
	transition: .2s;
}

.scrl_logo_slider .arrow:hover {
	border: 1px solid #004a9a;
}

.scrl_logo_slider .arrow:hover i {
	transition: .2s;
	color: #004a9a;
}

.scrl_logo_slider .arrow i {
	color: #b9b9b9;
}

.scrl_logo_slider .arrowL {
	left: -87px;
}

.scrl_logo_slider .arrowL i {
	position: relative;
	top: -1px;
}

.scrl_logo_slider .arrowR {
	right: -87px;
}

.scrl_logo_slider .arrowR i {
	position: relative;
	top: -1px;
}

.scrl1_text2 {
	padding-top: 50px;
}

.form_block {
	padding: 0 85px;
	padding-top: 70px;
	width: 470px;
	height: 460px;
	margin: auto;
	background: #fff;
	text-align: center;
	box-shadow: 0px 10px 20px 0px rgba(59, 68, 82, 0.15);
}

.form_block h4 {
	font-family: 'Conv_AvenirNextRegular';
	font-size: 14px;
	color: #333;
	margin-bottom: 50px;
}

.form_block input {
	display: block;
	width: 100%;
	border: 0 solid #fff;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 35px;
	outline: none;
}

.form_block input::placeholder {
	font-family: 'Conv_AvenirNextRegular';
	color: #b4b4b4;
	padding-bottom: 3px;
	padding-left: 3px;
}

.form_block textarea {
	font-family: 'Conv_AvenirNextRegular';
	color: #b4b4b4;
	padding-bottom: 3px;
	padding-left: 3px;
}

.form_block button {
	background: #d0422c;
	margin: auto;
	margin-top: 60px;
	display: block;
	width: 180px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	border-radius: 27px;
	border: 0px;
	outline: none;
}

/*media*/

@media only screen and (max-width : 1199px){
	.logo_block {
		width: 140px;
	}

	.text_block h3 {
		font-size: 11px;
	}
}  

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

	.scroll_1 {
		padding-top: 110px;
	}

	.scrl_logo_slider .arrow {
		top: inherit;
		bottom: -20px;
		left: 0;
		right: 0;
		z-index: 10;
	}

	.scrl_logo_slider .arrowR {
		right: -40px;
	}

	.scrl_logo_slider .arrowL {
		left: -40px;
	}

	.form_block {
		margin-top: 50px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
	.form_block {
		width: 400px;
		padding: 0 50px;
		padding-top: 60px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.form_block {
		width: 290px;
		padding: 0 40px;
		padding-top: 60px;
	}

	.form_block button {
		width: 160px;
		height: 45px;
		line-height: 45px;
	}
}