
* {
	font-family: 'Conv_Avenir Next Bold';
}

@font-face {
	font-family: 'Conv_Avenir Next Bold';
	src: url('/assets/fonts/Avenir Next Bold.eot');
	src: local('☺'), url('/assets/fonts/Avenir Next Bold.woff') format('woff'), url('fonts/Avenir Next Bold.ttf') format('truetype'), url('fonts/Avenir Next Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextDemiBold';
	src: url('/assets/fonts/AvenirNextDemiBold.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextDemiBold.woff') format('woff'), url('fonts/AvenirNextDemiBold.ttf') format('truetype'), url('fonts/AvenirNextDemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextMedium';
	src: url('/assets/fonts/AvenirNextMedium.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextMedium.woff') format('woff'), url('fonts/AvenirNextMedium.ttf') format('truetype'), url('fonts/AvenirNextMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextRegular';
	src: url('/assets/fonts/AvenirNextRegular.eot');
	src: local('☺'), url('/assets/fonts/AvenirNextRegular.woff') format('woff'), url('fonts/AvenirNextRegular.ttf') format('truetype'), url('fonts/AvenirNextRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	min-width: 320px;
	color: #000;
}

.no-padding{
	padding: 0!important;
}

ol, ul {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}


a:hover {
	color: #000;
	text-decoration: none;
}

.zindex {
	position: relative;
	z-index: 2;
}

/************************************/

/*scroll 1*/

.scroll_1 {
	position: relative;
	padding-top: 40vh;
	min-height: 650px;
	height: 100vh;
	width: 100%;
}

.scroll_1::before {
	z-index: 1;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
}

.scroll_1_bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.slide_scrl_1 {
	min-height: 650px;
	width: 100%;
	height: 100vh;
}

.slide_scrl_1 img {
	width: 100%;
	height: 100%;
}

.scroll_1_content h3 {
	padding-bottom: 30px;
	font-size: 35px;
	text-align: center;
	color: #fffefe;
}

.scroll_1_content h4 {
	text-align: center;
	font-size: 16px;
	color: #dedede;
	font-style: lighter;
	padding-bottom: 45px;
}

.scroll_1_content a {
	background: #d0422c;
	border-radius: 27px;
	display: block;
	width: 180px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	margin: auto;
	color: #fff;
}

.slick-dots {
	z-index: 2;
	position: relative;
	text-align: center;
	display: block;
	bottom: 45px;
}

.slick-dots li {
	display: inline-block;
	margin-right: 10px;
}

.slick-dots li:last-child {
	margin-right: 0;
}

.slick-dots li button {
	font-size: 0;
	padding: 0;
	width: 9px;
	height: 9px;
	border-radius: 100%;
	border: 0px solid #fff;
	background: rgba(255,255,255,.5);
	outline: none;
}

.slick-active button {
	background: #1369be!important;
}

/*scroll 2*/

.scroll_2 {
	background: #e1e1e1;
	padding-top: 80px;
	padding-bottom: 65px;
}

.scroll_2_content {
	padding-top: 50px;
}

.scroll_2_content h3 {
	font-size: 30px;
	color: #333;
	padding-bottom: 25px;
}

.scroll_2_content h4 {
	font-family: 'Conv_AvenirNextDemiBold';
	line-height: 29px;
	color: #666;
	font-size: 14px;
	padding-bottom: 45px;
}

.scroll_2_content a {
	background: #d0422c;
	border-radius: 27px;
	display: block;
	width: 180px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	color: #fff;
}

.scrl2_img {
	width: 100%;
	height: 355px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: -2px 10px 20px 0px rgba(0, 0, 0, 0.15); 
}


/*scroll 3*/

.scroll_3 {
	background: #f9f9f9;
	padding-top: 85px;
	padding-bottom: 65px;
}

.scrl3_up_text h3 {
	font-size: 30px;
	color: #333;
	text-align: center;
	padding-bottom: 20px;
}

.scrl3_up_text h4 {
	color: #666;
	text-align: center;
	font-size: 14px;
	margin-bottom: 50px;
}

.scrl_3_col_up_img {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background: #1e53e9;
	position: relative;
	box-shadow: -3px 15px 20px 0px rgba(0, 0, 0, 0.15); 
	margin-bottom: 35px;
}

.scrl_3_col_up_img img {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.scrl3_column h3 {
	font-size: 16px;
	color: #333;
	padding-bottom: 5px;
}

.scrl3_column h4 {
	font-family: 'Conv_AvenirNextMedium';
	font-size: 14px;
	color: #666;
	line-height: 25px;
}

/*scroll 4*/

.scroll_4 {
	padding-top: 80px;
	padding-bottom: 120px;
	background: #e1e1e1;
}

.scrl_4_up_text h3 {
	text-align: center;
	font-size: 30px;
	color: #333;
	padding-bottom: 25px;
}

.scrl_4_up_text h4 {
	text-align: center;
	color: #666;
	font-size: 14px;
	margin-bottom: 50px;
}

.scrl4_col_up_img {
	display: block;
	width: 100%;
	height: 135px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 30px;
}

.scrl4_col h4 {
	font-family: 'Conv_AvenirNextMedium';
	padding-bottom: 15px;
	text-align: center;
	color: #666;
}

.scrl4_col h3 {
	font-family: 'Conv_AvenirNextDemiBold';
	text-align: center;
	color: #333;
	font-size: 14px;
	line-height: 24px;
}

.scrl4_col:hover h3 {
	font-family: 'Conv_AvenirNextMedium';
	text-decoration: underline;
}

/*scroll 5*/

.scroll_5 {
	padding: 10px 0;
}

.scrl5_column {
	width: 235px;
	text-align: center;
}

.scrl_5_col_img {
	height: 65px;
	margin-bottom: 20px;
}

.scrl_5_col_img img {
	width: 50px;
}

.scrl5_columnL {
	margin-right: auto;
}

.scrl5_columnR {
	margin-left: auto;
}

.scrl5_columnR .scrl_5_col_img {
	padding-top: 13px;
}

.scrl5_column h3 {
	font-family: 'Conv_AvenirNextRegular';
	color: #1f374f;
	font-size: 14px;
	line-height: 20px;
}

/*media*/

/*==========  Desktop First  ==========*/
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){

	.scroll_2_content h3 {
		font-size: 25px;
		padding-bottom: 20px;
	}

	.scroll_2_content h4 {
		font-size: 13px;
		line-height: 23px;
	}

	.scroll_2_content a {
		width: 160px;
		height: 45px;
		line-height: 45px;
		font-size: 12px;
	}

	.scrl3_column {
		margin-bottom: 40px;
		padding-right: 40px;
	}

	.scrl_3_col_up_img {
		margin: auto;
		margin-bottom: 35px;
	}

	.scrl3_column h3 {
		text-align: center;
	}

	.scrl3_column h4 {
		text-align: center;
	}

	.scroll_4 {
		padding-bottom: 30px;
	}

	.scrl4_col {
		display: block;
		margin-bottom: 50px;
	}

	.scrl5_column {
		margin: auto;
	}

}




/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
	.scroll_1_content h3 {
		font-size: 25px;
	}

	.scroll_1_content h4 {
		font-size: 13px;
	}

	.scroll_1_content a {
		width: 150px;
		height: 45px;
		line-height: 45px;
		font-size: 12px;
	}

	.scroll_2_content {
		margin-bottom: 60px;
	}

	.scrl3_column {
		padding-right: 0;
	}

	.scrl5_columnL {
		margin-bottom: 30px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){

	.scrl2_img {
		height: 225px;
	}

	.scrl4_col_up_img {
		height: 95px;
	}

	.scrl4_col h3 {
		font-size: 13px;
		line-height: 18px;
	}

}